.ingredients_subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}