.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.ingredient_card {
    position: relative;
}