*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #2F2F37;
}

*::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border: 2px solid #2F2F37;
}